import('splines')
importFrom("graphics", "lines", "plot")
importFrom("stats", "quantile", "rnorm", "runif")
useDynLib(mulste, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(marm3,marm3.dr,marm4,marm4.dr,marmComposed,marmComposed.dr,marm3.sim.fbs,marm3.sim.fsin,marm4.sim.fbs,marm4.sim.fsin,marmComposed.sim.fbs,marmComposed.sim.fsin)

